@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: #eeee;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0;
    margin-right:0;
    height: 10vh;
      
}
nav a{
    color: black;
    font-size: 1.8rem;
    margin:auto 1em;
}
nav .logo{
    text-decoration: none;
    font-weight: bolder;
    margin-right: auto;
    color: #000000;
    
}
nav b {
    display: none;
}
nav a:hover i{
    display:none;
}
nav a:hover b{
    display: block;
    font: 0.5em sans-serif;
    font-style: italic;
    text-decoration-line: none;
}

.content-intro p:nth-child(3){
 animation: bounce-in 2s ease-in;
 }
@keyframes bounce-in{
    0%{
        transform:scale(0.1);
        opacity: 0;
    }
    60%{
        transform: scale(1.2);
        opacity:1;
    }
    100%{
        transform: scale(1);
    }
    
}
.container-intro{
    background: url('../Portfolio_Assignment/images/aleks-dorohovich-nJdwUHmaY8A-unsplash.jpg');
    width: 100%;
    background-position: center;
    display: flex;
    position: relative;
    height: 85vh;
    background-size: cover;
} 
.content-intro p{
    color: black;
   font-family: sans-serif;
    line-height: 1px;
}
.content-intro p:nth-child(1){
margin-top: 8em;
margin-left: 4em;
font-weight: bold;
font-size: 25px;
}
.content-intro p:nth-child(2){
    margin-left:2.8em;
    font-size:35px;
    font-weight: bolder;
}
.content-intro p:nth-child(3){
    font-size: 25px;
    margin-left:4em;
}
.content-intro{
    position: absolute;
    left: 0;
    right: 0;
}
.container-intro:before{
    content: "";
    background:#505050;
    width: 100%;
    opacity:0.7;
    
}
.container-intro button{
    margin-left: 6em;
    background-color: black;
    color: white;
    max-width: fit-content;
    font: 1em sans-serif;
}
button:active{
    transform: scale(1.1);
}  
.about-me{
    width: 90%;
    height: 350px;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    border-radius:20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3em auto auto auto;
}

article{
    display: flex;
    width:90%;
    justify-content: space-evenly;
    margin-top:auto;
}

.profile-img {
    width:40%;
    margin-bottom: 1em;
    
}
.profile-personal{
    width: 50%;
    font-family:sans-serif;
    
    color: black;
    text-align: justify;
    
}
.profile-personal p:nth-child(1){
    font-size:1.2em;
    font-weight: bold;
}

.profile-personal p:nth-child(2){
    font-size:1.2em;
}

.profile-personal p:nth-child(3){
    font-size: 1em;
    color:#1a1616;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.projects{
    margin: 3em auto auto auto;
    width: 90%;
    font-weight: bold;
    text-align: justify;
}
.projects h3{
    font-family:sans-serif;
    font-size:1.2em;
    color: black;
    
}
.projects p{
    font-family:Roboto, 'sans-serif';
    font-size: 1em;
    color:#1a1616;
    margin:auto 1em;
}
.projects-offered{
    width: 90%;
    height: 350px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-area: ".project-1 .project-2 .project-3";
    justify-content: space-evenly;
    align-items: center; 
    margin: 1em auto auto auto;
    
}
.project-1,
.project-2,
.project-3{
    text-align: center;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5);
    border-radius:20px;
    background-color: #fff;
    padding-bottom: 1em;
}
.project-1 h4,
.project-2 h4,
.project-3 h4{
   margin-bottom: auto; 

} 

.contact-me{
	width: 100%;
	
	margin: auto;
    background-color: rgba(0, 0, 0,0.7);
}

.contact-me h1{
    text-align: center;
    color:#000;
	font-size:1.5em;
	font-family: calibri;
	font-weight:bold;
    padding-top: 1.5em;
}
.contact-me p{
    text-align: center;
    font: 1em sans-serif;
    color: white;
}
form{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-between;
}
    
#name , #email{
    width: 200px;
    height: 30px; 
    margin-top: 1em;
    
}
#comments{
    margin-top: 1em;
    overflow-y: scroll;
      
}
form .btn{
    width:150px;
	height:30px;
	background-color: #FFFFFF;
	border:none;
	outline:none;
	font-size:14px;
	font-weight:bold;
    margin-top: 1em;
}

.social-icons{
	display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons a{
	width:40px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#e6e3e3;
	border-radius:50%;
    margin: 20px 10px;
    color: black;
}
.social-icons a:hover{
	background-color:black;
    color: #ffffff;
	transition:all ease 0.5s;
}
.social{
	position: fixed;
	top:50%;
	right:0px;
	transform:translateY(-50%);
}
.social a{
	display: flex;
	justify-content: center;
	align-items: center;
	width:50px;
	height:50px;
	margin:0px;
	padding: 0px;
	line-height:0px;
    color: black;
	background-color:#FFFFFF;
	border:1px solid #CBCBCB;
	box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.social i{
	font-size:20px;
	color:white;
}
.social a:hover{
    background-color: black;
	color:#FFFFFF;
	transition:all ease 0.5s;
}
/* Responsive Design*/
@media only screen and (max-width:800px){

nav {
    height: 6vh;
}
nav a{
    font-size: 1rem;
}
.content-intro p:nth-child(3)
{
    font-size: 1rem;
    padding-left:1.5em;
}
.content-intro button{
    padding-left: 0.5em;
}
.about-me{
    box-shadow: none;
    background-color:#eee;
    width: 100%;
    height: max-content;
    
}
article{
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.profile-img{
    width: 100%;
    justify-content: center;
    align-items: center;
}
.profile-personal{
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    
}
.profile-personal p:nth-child(1){
    font-size:0.8em;
}
.profile-personal p:nth-child(2){
    font-size:1em;
}

.profile-personal p:nth-child(3){
    font-size: 0.8em;
    
}
.projects{
    margin-top: auto;
    width: 100%;
}
.projects h3{padding-left: 0.8em;}
.projects h3,
.projects p{
    font-size: 0.8em;
}
.projects-offered{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: max-content;
    flex-wrap: wrap;
    
}

.project-1,
.project-2,
.project-3{
    margin:0.5em 1em;
}
.contact-me{
    height: 550px;
}
.contact-me h1{
    font-size: 1em;
}
.contact-me p{
    font-size: 0.7em;
    margin: auto 0.5em;
}
form{
    display: block;
    text-align: center;
    height: max-content;
}

#name, #email{
    width: 100px;
    height: 20px;
} 

.social{
    display: none;
}

form .btn{
width:100px;
font-size: 10px;
text-align: center;
}
}

